#chart_widget.widget_size(style='display: none;' widget-width='3' widget-height='2' data-minx="2" data-miny="1")
    = render("/widgets/_search.jade")
    = render("/widgets/chartLightBox.jade")
    .row.span12(style='margin: 4px;')
        .span12.chart(style='padding-left: 5px;padding-right: 5px;padding-bottom: 5px;')