.lightBox.displayBlock
    .cModalDialog
        div
            .cModalDialogHeader
                .fa.fa-desktop
                span#title
                    ! LightBox
                hr(style="margin:10px")
                br
            .span12#workspace-popup
            .cModalDialogClose
                a.cModalDialogA.closeLightBox
                    i.icon-white.fa.fa-check
                    p &nbsp;Okay