button.btn.btn-primary.tallerButton.icon-white.fa.fa-search.go(href="#" type="button")
button.btn.btn-danger.tallerButton.icon-white.fa.fa-times-circle.cancel(href="#" style="display:none;" title="Auto Refresh every 2 mins" type="button")