form#expressionTriggerForm.form-horizontal
    .control-group
        label.control-label#alertingCorrelatedExp Correlated Expr
        .controls
            input#expressionTriggerValue(type="text" placeHolder="cpu.gt(10) level.gt(1000)")
