form#fileAlert.form-horizontal
    .control-group
        label.control-label#alertingFileName(for="writeToFile") Filename
        .controls
            input#writeToFile(type="text" placeHolder="/some/file/name.log")
