form#logAlert.form-horizontal
    .control-group
        label.control-label#alertingMessagee(for="logMessage") Message
        .controls
            input#alertLogMesssage(type="text" placeHolder="Something horrible happened")
