form#numericTriggerForm.form-horizontal
    .control-group
        label.control-label#alertingNoEvents No. of Events
        .controls
            input#numericTriggerValue(type="text" placeHolder="10" title="The number of events required to trigger this alert")
