.control-group
    label.control-label#sysEmailUsername(for="inputTag") Username
    .controls
        input#eUser.widthNinety.coloredInputBG.coloredBorder.coloredText(type="text" placeHolder="joe.blogs")

    label.control-label#sysEmailPassword(for="inputFileMask") Password
    .controls
        input#ePassword.widthNinety.coloredInputBG.coloredBorder.coloredText(type="password" placeHolder="password")

    label.control-label#sysEmailServerURL(for="inputFileMask") Server URL
    .controls
        input#eServerURL.widthNinety.coloredInputBG.coloredBorder.coloredText(type="text" placeHolder="(smtp,smtps)://smtp.provider.com:(25,465)" title="(smtp,smtps)://smtp.provider.com:(25,465)")

    .controls
    .controls
    .controls
        .control-group
        .control-group
        .control-group
        button.btn.btn-primary.fa.fa-check#sysEmailSave(type="submit") &nbsp; Save
