.result{:id=>"prototype-result", :style=>"display:none;"}
    .row-fluid
        .abc
    .row-fluid
        .abc
            em &nbsp;
            a#fileOpenBrowser(href='#' title='Open In Browser' target='_blank') &nbsp;
            a#fileDownload
                i.icon-black.fa.fa-download(href='#' title='Download') &nbsp;&nbsp;&nbsp;
            a#fileHostLink(href='#') &nbsp;