h1 End User License Agreement

p
! <br>
! THIS IS A 'CLICKWRAP AGREEMENT' BY INSTALLING OR USING THIS PRODUCT, THE INDIVIDUAL DOING SO GUARANTEES THAT HE OR SHE IS AUTHORISED TO ENTER INTO THIS AGREEMENT WITH LOGSCAPE ON BEHALF OF LICENSEE, THAT HE OR SHE HAS READ AND UNDERSTANDS THE TERMS OF THIS AGREEMENT AND THAT LICENSEE AGREES TO BE BOUND BY THIS AGREEMENT.  IF LICENSEE DOES NOT AGREE TO THE TERMS OF THIS AGREEMENT, LICENSEE MUST NOT INSTALL, USE OR ALLOW THE INSTALLATION OR USE OF THIS PRODUCT. <br>
! <br>
! 1.  DEFINED TERMS: <br>
! Agreement means this LOGSCAPE END USER LICENSE AGREEMENT together with the applicable Order Documents (if any), the license key email received from Logscape (if any), and the Schedule A attached hereto (if any) (collectively the 'Additional Terms').<br>
! Authorised Use means use of the Product in accordance with the terms of this Agreement or as specified in the Additional Terms, if any.<br>
! Authorised User means an individual, or number of individuals specified in the Additional Terms, if any, who is/are licensed to use the Product under this Agreement.<br>
! Effective Date means the earlier of the date on which Logscape and Licensee enter into this Agreement or the date on which Logscape provides Licensee with the Product.<br>
! License Key Start Date means the date on which the license key for the Product, if any, is provided to Licensee.  <br>
! Licensee means a person or entity (real or legal) exercising rights granted by Logscape under this Agreement.  Where Licensee is a legal entity, Licensee includes any currently existing or future entity which controls, is controlled by, or is under common control with Licensee, where 'control' means (a) the direct or indirect power to control the management and direction of such entity, whether by ownership, contract, or otherwise, or (b) ownership of fifty per cent (50%) or more of the outstanding shares, ownership of a controlling interest, or beneficial ownership of such entity.<br>
! Order Documents include (but are not limited to) the following documents: Invoices, Purchase Orders, Requisitions, or other similar documents that memorialize a licensing transaction between Licensee and Logscape, which specify the price, Product, quantity and type of Authorised Users, and the Term.<br>
! Product means the computer software program described in the Additional Terms, if any, or in which this Agreement is included, including any updates provided to Licensee by Logscape, to the extent not provided under a separate agreement, but excluding Third Party Software. <br>
! Term means the term of the license granted under this Agreement as defined herein or in the Additional Terms, if any, including any renewal of the Term unless the context indicates otherwise.  <br>
! Third-Party Software means third-party computer software licensed to Logscape, which is distributed with the Product.<br>
! Logscape means LiquidLabs Ltd., a company incorporated under the laws of England and Wales (Registered Company Number 06602398), whose registered office is at 175 High Street, Tonbridge, Kent, TN9 1BX, United Kingdom.<br>
! <br>
! 2.  LICENSE FEES<br>
! License Fees are those fees payable by Licensee to Logscape in consideration of Licensee's Authorised Use of the Product.  The exact amount or the calculation of the License Fees is described in the Additional Terms, if any, and the License Fees are due and payable to Logscape beginning on the earlier of the date of execution of the Agreement or License Key Start Date and continuing for the Term until payment in full, subject to earlier termination by either Logscape or Licensee in accordance with this Agreement.  In the event of cancellation or termination of this Agreement, no pro-rata refunds will be made.<br>
! <br>
! 3.  GRANT OF LICENSE<br>
! Subject to Licensee having paid and continuing to pay the applicable License Fees, and the terms and conditions of this Agreement, Logscape hereby grants Licensee a non-exclusive, non-transferable, non-assignable limited license to use the Product by the Authorised Users for the Authorised Use.  With respect to the Product, the terms of this Agreement supersede and replace any terms contained in any pre-existing agreement between Logscape and Licensee.  With respect to Third-Party Software, the terms of the third-party licenses applicable to the Third-Party Software govern the use of such Third-Party Software by Licensee.  <br>
! <br>
! Licensee may make additional copies of the Product as necessary for archival or backup purposes, provided that Licensee reproduces and includes all copyright, trademark, logo or other proprietary notices on every copy in the same form in which they appear in or on the original copies provided to Licensee by Logscape.<br>
! <br>
! Licensee may not distribute, sub-license, translate, reverse-engineer, decompile, or disassemble the Product (including Third-Party Software) or the source code, or attempt to derive the source code in any other way, save and only to the extent any foregoing restriction is prohibited by applicable law or to the extent as may be permitted by the terms of the licenses applicable to the Third-Party Software; modify the Product or merge all, or any part, of the product or the code into another program; or remove, modify or alter any Logscape copyright, trademark, logo, or other proprietary mark or notice from any part of the Product or source code.<br>
! <br>
! 4.  TERM OF LICENSE<br>
! This license shall begin on the Effective Date and continue for the Term subject to earlier termination by either Logscape or Licensee in accordance with this Agreement. Except for as set forth in the Additional Terms, if any, the term of this License will automatically renew for successive terms thereafter, subject to earlier termination by either Logscape or Licensee in accordance with this Agreement.<br>
! <br>
! <br>
! 5.  MAINTENANCE AND SUPPORT <br>
! Logscape will provide Maintenance and Support to all Licensees in accordance with the applicable terms of this Section 5.  For such Maintenance and Support, Logscape will make reasonable efforts to resolve, via telephone and email, all issues related to malfunctions or errors resident in the Product.  Logscape will not be responsible for errors or malfunctions caused by any of the following: use of the Product on unsupported platforms (such as browser, OS, and networking); use of the Product on hardware/software configurations that do not meet the system requirements specified by Logscape; use of the Product other than in accordance with this Agreement; failure resulting from misapplication or abnormal use as determined by the user instruction, manual or specification provided by Logscape or virus introduced by third parties or Licensee, any repair, adjustment, alteration, or modification of the Product without Logscape' prior written consent (the availability of macros, macro development capabilities, plugins, APIs and certain Product source code shall not be deemed to be Logscape' consent to any repair, adjustment, alteration or modification of the Product for purposes of Maintenance and Support); third-party applications or components, unless such applications or components are Third-Party Software; environmental issues outside of Logscape' control, including without limitation network and file system permissions, network topology or CPU capacity. With the purchase of Maintenance and Support, Licensee will receive the right to use updates that Logscape makes available to the general public from time to time, either in the form of patches, 'dot' releases (e.g. version 2.1, 2.2, etc.), or whole number releases (e.g. version 3.0, 4.0, 5.0, etc.). Logscape will provide support only for the then-current release of the Product, and the most recent prior release of the Product.    <br>
! <br>
! For subscription licenses, subject to Licensee having paid and continuing to pay the applicable License Fees, Maintenance and Support for the Product during the Term of the license will be provided by Logscape.  <br>
! <br>
! For perpetual licenses, Logscape will provide Maintenance and Support for the Product on an annual basis, subject to Licensee having paid the applicable License Fees and the applicable annual Maintenance and Support Fee set forth in the Additional Terms.  Annual Maintenance and Support for perpetual licenses will commence on the Effective Date and automatically renew each year unless at least sixty (60) days prior to such renewal date, either party provides to the other party written notice of termination.  The Maintenance and Support Fee for such renewal period will be set by Logscape in accordance with its then-current maintenance and support fees for the Product, but Logscape will not increase such fees to Licensee by more than twenty per cent (20%) from one year to the next. For early termination of the Maintenance and Support no pro-rata refunds will be made. <br>
! <br>
! 6.  LICENSEE'S OBLIGATIONS<br>
! Licensee will ensure its compliance with this Agreement and prevent unauthorised use and distribution of the Product.  Licensee shall keep exclusive possession of and control over the Product.  Licensee shall ensure that the Product is used only by Authorised Users for the Authorised Use.  Licensee shall take reasonable security measures to prevent any prohibited activities under Section 3 of this Agreement. <br>
! <br>
! 7. INTELLECTUAL PROPERTY & CONFIDENTIALITY <br>
! Logscape hereby reserves all rights not explicitly granted in this Agreement.  The Product contains copyrighted material, trade secrets and other valuable confidential and proprietary information owned by Logscape.  This license confers no right, title, or ownership interest in or to any copyright, trademark, logo, or trade name of Logscape or in the Product itself and all associated intellectual property rights are retained by Logscape.<br>
! <br>
! 8. LIMITED WARRANTY & LIABILITY<br>
! a) Logscape provides the Product 'as is' and 'as available' without warranty of any kind, either express or implied, including but not limited to, the implied warranties of merchantability, satisfactory quality, and fitness for a particular purpose.  Logscape does not warrant that the functions contained in the Product will meet Licensee's requirements, or that the operation of the Product will be uninterrupted or error or defect free, or that defects in the Product will be corrected. <br>
! b) Under no circumstances, including negligence, shall Logscape be liable for any lost profits, loss of data, cost of procurement of substitute software, goods or services, or special, indirect, incidental or consequential loss or damages, either in contract or tort, arising out of or in connection with this Agreement or that result from the use or inability to use the Product, even if Logscape is advised of the possibility.  In addition, in no event shall Logscape' total liability for all damages, losses and causes of action exceed the amount paid by Licensee under this Agreement.  To the extent that liability for death or personal injury caused by its negligence, caused by fraudulent misrepresentation or deceit, or any other liability that may not be excluded or limited by applicable law, Logscape does not exclude or limit its liability.<br>
! c) The Parties agree that the limitations on and exclusions of liability listed in this Section 8 were freely negotiated and are an integral part of the bargain, in that the Product would not have been available for the same price and under the same terms and conditions had such limitations on and exclusions of liability not been included in this Agreement.<br>
! d) To the extent the foregoing warranty disclaimer or limitation of liability is not allowed by applicable law, then the liability of Logscape, and Licensee's remedy, shall be limited to, at Logscape's option: (i) the re-supply of any defective Product or defective Maintenance and Support services, as the case may be; or (ii) the refund of any license fees paid by Licensee for the defective Product, or the refund of the annual Maintenance and Support Fees paid for the period within which defective Maintenance and Support services were performed, as the case may be.<br>
! <br>
! 9.  INTELLECTUAL PROPERTY INDEMNIFICATION<br>
! a) Logscape will defend or settle, at its expense, any action brought against Licensee based upon the claim that the Product, when used in accordance with this Agreement, knowingly and directly infringes an issued U.S. patent or registered copyright; provided, however, that: (i) Licensee notifies Logscape promptly in writing of any such claim; (ii) Licensee does not enter into any settlement related to any claim without Logscape' prior written consent; (iii) Logscape has sole control of any claim and all related settlement negotiations; and (iv) as requested, Licensee provides Logscape with all information and assistance necessary to settle or defend the claim. <br>
! (b) If the Product becomes, or may, in the opinion of Logscape, become the subject of a claim of infringement of any third party intellectual property right, Logscape may, at its option, and as Licensee's exclusive remedy: (i) procure the right for Licensee to use the Product; (ii) replace or modify the Product to make it non-infringing; or (iii) refund any license fees for the Product paid by Licensee.<br>
! (c) Licensee will defend or settle, at Licensee's expense, any action brought against Logscape based upon the claim that any modifications Licensee makes to the Product or any combination of the Product with software or other items not approved by Logscape infringes or violates any third party intellectual property right; provided, however, that Logscape comply with the same requirements outlined in subsections (i)-(iv) of Subparagraph (a).<br>
! (d) Notwithstanding anything herein to the contrary, Logscape shall have no obligation to defend Licensee or to pay Licensee's costs, damages or attorney's fees, or have any liability whatsoever, for any claim resulting from or attributable to any modifications to the Product or any combination of the Product with other with products or other items not approved by Logscape or any failure to implement an update to the Product or if Licensee is otherwise not using the Product in accordance with this Agreement.  <br>
! <br>
! <br>
! 10.  BREACH, CURE, AND TERMINATION OF THE AGREEMENT <br>
! This Agreement can be terminated by Logscape in the event of breach by Licensee.  Breach by Licensee includes: 1) the failure to prevent unauthorised use or distribution of the Product; 2) accessing, using, modifying, or distributing Third-Party Software independently of the Product and without permission; 3) non-payment, or 4) any other activity that violates this Agreement.  Logscape may terminate this Agreement immediately upon giving notice to Licensee if after giving Licensee written notice that it is in breach of the Agreement, Licensee fails to cure the breach within seven (7) days of receipt of the notice; except that in the case of Licensee's failure to pay License Fees or comply with Section 3, Logscape reserves the right to terminate this Agreement immediately and without notice or opportunity to cure.  In the event of termination of this Agreement: a) all outstanding License Fees and any other amounts owed by Licensee are immediately due and payable; and b) all license rights (including without limitation the perpetual license) granted to Licensee under this Agreement and in relation to the Product are revoked and the Licensee must destroy all copies of the Product.<br>
! <br>
! Subscription based Licensees may not terminate this Agreement during the Term but may terminate any renewal period under this Agreement by providing Logscape with written notice of termination at least sixty (60) days prior to the applicable renewal date. <br>
! <br>
! Perpetual Licensees may elect not to renew the annual Maintenance and Support period by providing Logscape with written notice of non-renewal at least sixty (60) days prior to the annual renewal date.<br>
! <br>
! 11.  TAX<br>
! Licensee is responsible for all taxes, other than taxes levied on Logscape's income.  License Fees do not include any applicable taxes.  If Logscape is required to pay any sales, use, goods & services, value added, or other taxes in relation to Licensee's purchase, those taxes will be billed to and paid by Licensee.<br>
! <br>
! 12.  ASSIGNMENT<br>
! Licensee may not assign its rights under this Agreement except in the case of a change in control of Licensee, including merger or sale.  Licensee must give Logscape 60 days written notice of any such assignment.  Logscape may assign its rights and obligations under this agreement for any reason and without the consent of Licensee.<br>
! <br>
! 13.  PUBLICITY<br>
! Licensee grants Logscape the right to identify Licensee as a user in Product promotional material. At any point, Licensee can submit a written request via email to pr@logscape.com to have Logscape remover Licensee's name, within thirty days, from any future promotional material.<br>
! <br>
! 14.  SEVERABILITY<br>
! Each provision of this Agreement shall be interpreted in such a manner as to be effective and valid under applicable law.  The invalidity or unenforceability of any provision of this Agreement shall in no way affect the validity or enforceability of any other provision hereof.  Any invalid or unenforceable provision shall be deemed severed from this Agreement and the balance of this Agreement shall be construed and enforced as if this Agreement did not contain the particular provisions(s) held to be invalid or unenforceable and so as to effect the original intent of the parties hereto.<br>
! <br>
! 15.  GOVERNING LAW<br>
! This Agreement shall be deemed executed in England and Wales., and shall be governed by and construed in accordance with the laws of England and Wales, without regard to choice of law or conflict of law principles.  For purposes of enforcement of arbitration awards, equitable relief, or if for any other reason litigation is permissible under this agreement, each party hereby irrevocably agrees to the exclusive personal jurisdiction and venue of any court located in England and Wales.<br>
! <br>
! 16.  NO WAIVER<br>
! No failure or delay by either party in exercising any right, power, or privilege granted under this Agreement shall operate as a waiver thereof, nor shall any single or partial exercise thereof preclude any other or further exercise thereof or the exercise of any right, power or privilege granted under this Agreement.  The knowing waiver of a Breach of this Agreement or the failure of a party to exercise any right under this Agreement shall in no event constitute a waiver as to any other breach, whether similar or dissimilar in nature, or prevent the exercise of any right under this Agreement.<br>
! <br>
! 17.  SURVIVAL<br>
! The provisions of Sections 2, 6, 7, 8, 9, 13, 14, 15, 17 and 18 shall survive the cancellation or termination of this Agreement.  All other provisions of this Agreement, which by their terms or import are intended to survive such cancellation or termination, shall survive.<br>
! <br>
! 18.  NO THIRD-PARTY BENEFICIARIES<br>
! This Agreement may only be enforced by the parties hereto and their respective successors and assigns and there are no third-party beneficiaries to this Agreement.<br>
! <br>
! 19. AUDIT RIGHTS<br>
! Licensee agrees at all times during the term of this Agreement, and for three (3) years after cancellation or termination of this Agreement, to permit Logscape or its authorised representative, upon reasonable notice, access to inspect all facilities (including systems, work stations and other hardware and storage devices) where Licensee has deployed the Product, to ensure compliance with the terms and conditions of this Agreement.<br>
! <br>
! 20. AMENDMENT<br>
! This Agreement can only be modified by mutual written assent of the parties.  The parties agree that the terms on either party's purchase order, invoice or other business forms are not binding on the other party and shall not be of any effect whatsoever and may not affect, alter, or modify the terms and conditions of this Agreement unless they are expressly incorporated into a formal written agreement signed by both parties.<br>
! <br>
! 21.  ENTIRE AGREEMENT<br>
! This Agreement, the applicable Order Documents (if any), the License Key email (if any), and Schedule A attached hereto (if any), constitute the entire agreement between the parties with respect to the subject matter hereof, and supersedes and replaces all prior or contemporaneous understandings, representations, communications, or agreements, written or oral, including any additional or contrary terms contained in any Licensee purchase order or other procurement document, regarding the Product or in any way related to Logscape intellectual property rights in the Product.<br>
! <br>
! LOGSCAPE END USER LICENSE AGREEMENT<br>
! <br>
! <br>
! <br>
! <br>
! 5<br>
! Document #831991<br>
