section#side-menu.dont-print.mCustomScrollbar._mCS_3(style="display: block; left: 0px;")
    div.mCustomScrollBox.mCS-light-thick.coloredBG#mCSB_3(style="position:relative; height:100%; overflow:hidden; max-width:100%;")
        div.mCSB_container.mCS_no_scrollbar(style="position: relative; top: 0px;")
            ul
                li
                li.side-menu-entry.active
                    a.goToHome(tabindex="-1" href="/play/?Workspace=user.Home" title="Home")
                        i.fa.fa-home.fa.fa-2x