#workspace_controller.dont-print.span5(style="margin-left:1px;")
  = render("/includes/controller/time.jade")
  = render("/includes/controller/buttons.jade")
  .div(style="display:inline-block;width:35px;height:35px;padding-left:5px;")
    i.fa-2x.fa.fa-refresh.coloredText.workspaceRunState(style="display: inline-block;vertical-align:middle;")
  label.coloredText.statusText(style="display: inline-block;") progress
