<!-- LogSpace Config Start -->
<tree-map>
  <entry>
      <string>com.liquidlabs.log.space.WatchDirectory-ds-uploads</string>
      <com.liquidlabs.log.space.WatchDirectory>
        <wdId>ds-uploads</wdId>
        <tags>uploads</tags>
        <dirName>/Uploads/**</dirName>
        <hosts></hosts>
        <filePattern>*</filePattern>
        <recurse>false</recurse>
        <isUTC>false</isUTC>
        <timeFormat></timeFormat>
        <flush>false</flush>
        <maxAgeDays>30</maxAgeDays>
        <fileSorter class="com.liquidlabs.log.roll.ContentBasedSorter">
          <lineLimit>50</lineLimit>
          <timeFormat></timeFormat>
          <filePatterns>
            <string>.*</string>
          </filePatterns>
          <cached/>
        </fileSorter>
        <dwEnabled>false</dwEnabled>
        <grokDiscovery>true</grokDiscovery>
        <fieldDiscovery>true</fieldDiscovery>
        <systemFieldsEnabled>true</systemFieldsEnabled>
        <breakRule>Default</breakRule>
        <archivingRules>,,None</archivingRules>
      </com.liquidlabs.log.space.WatchDirectory>
    </entry>

   <entry>
      <string>com.liquidlabs.log.space.WatchDirectory-syslog-local</string>
      <com.liquidlabs.log.space.WatchDirectory>
        <wdId>syslog-local</wdId>
        <tags>syslog</tags>
        <dirName>/var/log</dirName>
        <hosts></hosts>
        <filePattern>*syslog*,system.log,!.bz2,!.gz,*messages*</filePattern>
        <recurse>false</recurse>
        <isUTC>false</isUTC>
        <timeFormat></timeFormat>
        <flush>false</flush>
        <maxAgeDays>90</maxAgeDays>
        <fileSorter class="com.liquidlabs.log.roll.NullFileSorter"/>
        <dwEnabled>false</dwEnabled>
        <grokDiscovery>false</grokDiscovery>
        <fieldDiscovery>false</fieldDiscovery>
        <systemFieldsEnabled>false</systemFieldsEnabled>
        <breakRule>Default</breakRule>
      </com.liquidlabs.log.space.WatchDirectory>
    </entry>

    <entry>
      <string>com.liquidlabs.log.space.WatchDirectory-syslog-remote</string>
      <com.liquidlabs.log.space.WatchDirectory>
        <wdId>syslog-remote</wdId>
        <tags>syslog</tags>
        <dirName>*/_syslog_/**</dirName>
        <hosts></hosts>
        <filePattern>*.log</filePattern>
        <recurse>false</recurse>
        <isUTC>false</isUTC>
        <timeFormat></timeFormat>
        <flush>false</flush>
        <maxAgeDays>30</maxAgeDays>
        <fileSorter class="com.liquidlabs.log.roll.ContentBasedSorter">
          <lineLimit>50</lineLimit>
          <timeFormat></timeFormat>
          <filePatterns>
            <string>.*</string>
          </filePatterns>
          <cached/>
        </fileSorter>
        <dwEnabled>false</dwEnabled>
        <grokDiscovery>true</grokDiscovery>
        <fieldDiscovery>true</fieldDiscovery>
        <systemFieldsEnabled>true</systemFieldsEnabled>
        <breakRule>SingleLine</breakRule>
        <archivingRules>,,None</archivingRules>
      </com.liquidlabs.log.space.WatchDirectory>
    </entry>

  <entry>
      <string>com.liquidlabs.log.space.WatchDirectory-indexStore-server-SEED</string>
      <com.liquidlabs.log.space.WatchDirectory>
        <wdId>indexStore-server-SEED</wdId>
        <tags>indexStore-server</tags>
        <dirName>./work/LogServer_SERVER_</dirName>
        <hosts></hosts>
        <filePattern>_DO_NOT_DELETE_</filePattern>
        <recurse>false</recurse>
        <isUTC>false</isUTC>
        <timeFormat></timeFormat>
        <flush>false</flush>
        <maxAgeDays>999</maxAgeDays>
        <fileSorter class="com.liquidlabs.log.roll.NullFileSorter"/>
        <dwEnabled>false</dwEnabled>
        <grokDiscovery>false</grokDiscovery>
        <fieldDiscovery>false</fieldDiscovery>
        <breakRule>SingleLine</breakRule>
      </com.liquidlabs.log.space.WatchDirectory>
    </entry>
  <entry>
    <string>com.liquidlabs.log.space.WatchDirectory-logscape-logs-SEED</string>
    <com.liquidlabs.log.space.WatchDirectory>
      <wdId>logscape-logs-SEED</wdId>
      <tags>logscape-logs</tags>
      <dirName>.,./work,./work/*</dirName>
      <hosts></hosts>
      <filePattern>*.log*,!audit,!event,!stats,!schedule</filePattern>
      <recurse>false</recurse>
      <isUTC>false</isUTC>
      <timeFormat></timeFormat>
      <flush>false</flush>
      <maxAgeDays>7</maxAgeDays>
      <fileSorter class="com.liquidlabs.log.roll.ContentBasedSorter">
        <lineLimit>50</lineLimit>
        <timeFormat></timeFormat>
        <filePatterns>
          <string>.*</string>
        </filePatterns>
        <cached/>
      </fileSorter>
      <dwEnabled>false</dwEnabled>
      <grokDiscovery>false</grokDiscovery>
      <fieldDiscovery>false</fieldDiscovery>
      <breakRule>Default</breakRule>
     <archivingRules>2,7,Delete</archivingRules>
    </com.liquidlabs.log.space.WatchDirectory>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.WatchDirectory-logscape-sched-SEED</string>
    <com.liquidlabs.log.space.WatchDirectory>
      <wdId>sched-SEED</wdId>
      <tags>logscape-sched</tags>
      <dirName>./work/schedule</dirName>
      <hosts></hosts>
      <filePattern>*schedule*.log*</filePattern>
      <recurse>false</recurse>
      <isUTC>false</isUTC>
      <timeFormat></timeFormat>
      <flush>false</flush>
      <maxAgeDays>30</maxAgeDays>
      <fileSorter class="com.liquidlabs.log.roll.NullFileSorter"/>
      <dwEnabled>false</dwEnabled>
      <grokDiscovery>false</grokDiscovery>
      <fieldDiscovery>false</fieldDiscovery>
      <breakRule>SingleLine</breakRule>
      <archivingRules>2,7,Snappy_Compress</archivingRules>
    </com.liquidlabs.log.space.WatchDirectory>
  </entry>
</tree-map>
<!-- LogSpace Config End -->
<!-- RESOURCE Config Start -->
<tree-map/>
<!-- RESOURCE Config End -->
<!-- USER Config Start -->
<tree-map/>
<!-- USER Config End -->
